node_modules
npm-debug.log
.next
.git
.gitignore
README.md
.env.local
.env.*.local
.DS_Store
*.pem
dist
build
.node
.vscode
.idea
coverage
.npm
.eslintcache
.prettierignore
.husky
.github
public/Dockerfile
Dockerfile
docker-compose.yml
.dockerignore
